h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px !important;
  color: white;
  letter-spacing: 4.8px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 !important;
}

h2 {
  font-family: "Aleo", serif;
  font-size: 36px !important;
  color: white;
  margin: 0;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px !important;
  color: white;
  margin: 0;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px !important;
  color: #E8E8E8;
  letter-spacing: 1.6px;
  margin: 0;
}

body {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100vw;
  height: auto;
  background-color: white;
}

main {
  max-width: calc(100vw - 28px);
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
  height: auto;
}

.section {
  background-image: url("/images/section-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.section-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  padding-left: 330px;
  gap: 50px;
}

.section-right {
  width: 50%;
  height: auto;
  padding-top: 118px;
  padding-right: 330px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.right-images-top {
  transform: translateX(-30px);
}

.right-images-bottom {
  transform: translateX(30px);
}

.section0 {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.steps {
  display: flex;
  gap: 170px;
}

.steps div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.steps div img {
  max-width: 63px;
  height: auto;
}

.section1 {
  background-image: url("/images/section1-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  color: white;
  padding-left: 330px;
  padding-top: 229px;
  padding-bottom: 100px;
}

.section1-content {
  max-width: 30%;
  background: rgba(0, 0, 0, 0.8);
  padding: 47px 36px 49px 30px;
  border-radius: none;
  display: flex;
  flex-direction: column;
}

.section1-content h3 {
  margin-top: 23px;
  margin-bottom: 13px;
}

.section1-content button {
  margin-top: 46px;
  margin-bottom: 49px;
}

.section2 {
  background-image: url("/images/section2-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  color: white;
  padding-right: 330px;
  padding-top: 229px;
  padding-bottom: 100px;
}

.section2-content {
  max-width: 30%;
  background: rgba(0, 0, 0, 0.8);
  padding: 47px 36px 49px 30px;
  border-radius: none;
  display: flex;
  flex-direction: column;
}

.section2-content h3 {
  margin-top: 23px;
  margin-bottom: 13px;
}

.section2-content button {
  margin-top: 46px;
  margin-bottom: 49px;
}

.section3 {
  background-image: url("/images/section3-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

header {
  max-width: calc(100vw - 28px);
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
}

.hero {
  background-image: url(/images/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 264px;
  padding-bottom: 142px;
}

.hero-text-s {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

.hero-text-xss {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  line-height: 26px;
}

.hero-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-down img {
  width: 17px;
  height: auto;
}

.nav-bar {
  max-width: calc(100vw - 28px);
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #496BFE;
}

.nav-bar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-bar nav ul {
  list-style: none;
  display: flex;
  gap: 42px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Aleo", serif;
  font-size: 14px;
  text-transform: uppercase;
}

.search-bar {
  width: 653px;
  height: 63px;
  display: flex;
  align-items: center;
  margin-bottom: 108px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  padding: 25px;
  width: 600px;
  height: 100%;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2.8px;
  color: #999999;
  padding-left: 131px;
}

.hero-button {
  display: flex;
  right: 0;
  height: 63px;
  background-color: #496BFE;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Aleo", serif;
  letter-spacing: 1.4px;
  border: 2px solid white;
  white-space: nowrap;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 19px 16px 17px 36px;
  box-sizing: border-box;
}

.hero-button img {
  width: 22px;
  height: auto;
}

.section-button {
  display: inline-block;
  padding: 21px 35px 15px 38px;
  color: white;
  font-size: 16px;
  font-family: "Aleo", serif;
  letter-spacing: 1.2px;
  border: none;
  white-space: nowrap;
  background: linear-gradient(40deg, #496BFE 0% 40%, rgb(84, 116, 253) 40% 100%);
  text-transform: uppercase;
}

/*# sourceMappingURL=main.css.map */
