@use 'styles' as *;

.search-bar{
  width: 653px;
  height: 63px;
  display: flex;
  align-items: center;
  margin-bottom: 108px;
  overflow: hidden;  
}

.search-bar input{
  border: none;
  padding: 25px;
  width: 600px;
  height: 100%;
  font-size: $font-size-xxs;
  font-family: $font-sans;
  letter-spacing: 2.8px;
  color: #999999;
  padding-left: 131px;
}


.hero-button {
  display: flex;
  right: 0;
  height: 63px;
  background-color: $primary-color;
  color: $bg-color;
  font-size: $font-size-xxs;
  font-weight: normal;
  font-family: $font-serif;
  letter-spacing: 1.4px;
  border: 2px solid $bg-color;
  white-space: nowrap;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 19px 16px 17px 36px;
  box-sizing: border-box;
}

.hero-button img{
  width: 22px;
  height: auto;
}





.section-button{
  display: inline-block;
  padding: 21px 35px 15px 38px;
  color: $bg-color;
  font-size: $font-size-xs;
  font-family: $font-serif;
  letter-spacing: 1.2px;
  border: none;
  white-space: nowrap;
  background: linear-gradient(40deg, #496BFE 0% 40%, rgba(84, 116, 253, 100) 40% 100%);
  text-transform: uppercase;
  max-width: 228px;
  max-height: 63px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.3s ease-in-out;

  &:hover, &:focus {
    background: linear-gradient(40deg, #3549C4 0% 40%, rgba(52, 86, 220, 1) 40% 100%);
    outline: none;
    transform: scale(1.05); 
  }
}