@use 'styles' as *;



header{
  max-width: calc(100vw - 28px);
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
}

.hero{
  background-image: url(/images/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;

}

.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 264px;
  padding-bottom: 142px;
}

.hero-text-s {
  font-family: $font-sans;
  font-size: $font-size-s;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

.hero-text-xss{
  font-family: $font-sans;
  font-size: $font-size-xxs;
  letter-spacing: 2.8px;
  line-height: $line-height-s;
}

.hero-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-down img{
  width: 17px;
  height: auto;
}



.nav-bar{
  max-width: calc(100vw - 28px);
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $primary-color;
}

.nav-bar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-bar nav ul{
  list-style: none;
  display: flex;
  gap: 42px;
}

a{
  text-decoration: none;
  color: $bg-color;
  font-family: $font-serif;
  font-size: $font-size-xxs;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;

  &:hover, &:focus {
    color: #FFD700; 
    outline: none;
  }

}


