@use 'styles' as *;

body{
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100vw;
  height: auto;
  background-color: $bg-color;
}


main{
  max-width: calc(100vw - 28px);
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
  height: auto;
}


.section {
  background-image: url('/images/section-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;


  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 100px;
}


.section-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  padding-left: 330px;
  gap: 50px;
}

.section-right{
  width: 50%;
  height: auto;
  padding-top: 118px;
  padding-right: 330px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


  .right-images-top {
    transform: translateX(-30px);
  }

  .right-images-bottom {
    transform: translateX(30px);
  }









  .section0 {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .steps {
    display: flex;
    gap: 170px;
  }
  
  
  .steps div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .steps div img{
    max-width: 63px;
    height: auto;
  }

  










.section1 {
  background-image: url('/images/section1-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;


  display: flex;
  align-items: center;
  justify-content: flex-start;  
  box-sizing: border-box;
  color: $bg-color;
  padding-left: 330px;
  padding-top: 229px;
  padding-bottom: 100px;
}

.section1-content {
  max-width: 30%;
  background: rgba(0, 0, 0, 0.8);  
  padding: 47px 36px 49px 30px;
  border-radius: none;
  display: flex;
  flex-direction: column;
}

.section1-content h3{
margin-top: 23px;
margin-bottom: 13px;
}

.section1-content button {
  margin-top: 46px;
  margin-bottom: 49px;
}




.section2 {
  background-image: url('/images/section2-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;

  
  display: flex;
  align-items: center;
  justify-content: flex-end;  
  box-sizing: border-box;
  color: $bg-color;
  padding-right: 330px;
  padding-top: 229px;
  padding-bottom: 100px;
}

.section2-content {
  max-width: 30%;
  background: rgba(0, 0, 0, 0.8);  
  padding: 47px 36px 49px 30px;
  border-radius: none;
  display: flex;
  flex-direction: column;
}

.section2-content h3{
margin-top: 23px;
margin-bottom: 13px;
}

.section2-content button {
  margin-top: 46px;
  margin-bottom: 49px;
}

.section3 {
  background-image: url('/images/section3-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
